* {
        margin: 0;
        padding: 0;
}

.navbar {
        background-color: blue;
        padding: 1rem;
}

nav {
        display: flex;
        flex-direction: rows;
        justify-content: space-between;
        color: white;
}

a {
        text-decoration: none;
        color: white;
}

main {
        max-width: 50%;
        margin: auto;
}

main .title {
        text-align: center;
}
